body {
    margin: auto;
    width: 950px;
}

form {
    margin: auto;
}

button {
    margin: auto;
    margin-top: 50px;
    display: block;
    width: 200px;
    height: 35px;
}

.grid-container {
    display: inline-grid;
    grid-template-columns: 310px 650px;
}

.grid-item {

}

.section {
    display: inline-block;
    vertical-align: text-top;
    font-family: 'Open Sans', sans-serif;
    width: 300px;
    margin: 5px;
    margin-bottom: 15px;
}

.sectionLabel {
    background-color: #ff9739;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    padding: 3px;
}

.valueSpan {
    display: inline-block;
    width: 310px;
}

#section_5, #section_8 {
    width: 630px;
}
