body {
    margin: auto;
    width: 1000px;
}

form {
    margin: auto;
}

.grid-container {
    display: inline-grid;
    grid-template-columns: 310px 650px;
    background-color: darkgrey;
    /*grid-column-gap: 20px;
    padding: 20px;*/
}

.grid-item {

}

.section {
    background-color: lightgrey;
    display: inline-block;
    vertical-align: text-top;
    width: 300px;
    margin: 5px;
}

.valueSpan {
    display: inline-block;
    width: 300px;
}

#col1 {
    display: inline-block;
    width: 300px;
    background-color: lightblue;
    margin: 5px;
    padding: 0px;
    vertical-align: text-top;
}

#col2 {
    display: inline-block;
    width: 600px;
    background-color: lightgreen;
    margin: 5px;
    padding: 0px;
    vertical-align: text-top;
}

#section_5, #section_8 {
    width: 600px;
}
