body {
    margin: auto;
	text-align: center;
}

form {
    margin: auto;
	display: inline-block;
	text-align: left;
}

button {
    margin: auto;
    margin-top: 50px;
    display: block;
    width: 200px;
    height: 35px;
}

.grid-container {
    display: inline-grid;
    grid-template-columns: auto auto auto;
}

.section {
    font-family: 'Open Sans', sans-serif;
    margin: 5px;
    margin-bottom: 15px;
	background-color: lightgrey;
}

.section-label {
    background-color: #ff9739;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
	padding-left: 5px;
	padding-right: 5px;
}

#grid-item-4, #grid-item-9 {
	grid-column: 2 / span 2;
}

/*
.valueSpan {
    display: inline-block;
    width: 310px;
}

#section_5, #section_8 {
    width: 630px;
}
*/
